<div class='jumbotron'>
  <h1 class='text-center'>Alurapic</h1>
</div>
<div class='container'>
  <foto url='./img/leao.jpg' titulo='Leão'></foto>
  <foto url='./img/leao-branco.jpg' titulo='Leão branco'></foto>
</div>
